In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
from lol import champ_names

In [2]:
mongo_uri = 'mongodb+srv://admin:admin123@cluster1.fk1yn.mongodb.net/match_history?retryWrites=true&w=majority'
client = MongoClient(mongo_uri)
db = client.match_history

In [3]:
matches = db.matches.find()
comps = []
target = []
for match in matches:
    comps.append(list(map(lambda p: p['championName'].lower(), match['participants'])))
    target.append(float(match['blueWin']))
target = np.array(target)

pos = ['blue_top', 'blue_jg', 'blue_mid', 'blue_bot', 'blue_sup', 'red_top', 'red_jg', 'red_mid', 'red_bot', 'red_sup']
champs = champ_names()
comps_df = pd.DataFrame(comps, columns=pos)
blue = pd.DataFrame(0, index=np.arange(len(comps)), columns=champs)
for p in pos[:5]:
    blue = blue.add(pd.get_dummies(comps_df[p]), fill_value=0)
print(blue.sum(axis=1).head())
dblue = {}
for name in list(blue.columns.values):
    dblue[name] = 'blue_' + name
blue.rename(columns=dblue, inplace=True)

red = pd.DataFrame(0, index=np.arange(len(comps)), columns=champs)
for p in pos[5:]:
    red = red.add(pd.get_dummies(comps_df[p]), fill_value=0)
dred = {}
for name in list(red.columns.values):
    dred[name] = 'red_' + name
red.rename(columns=dred, inplace=True)

data = pd.concat([blue, red], axis=1)
data = data.fillna(0)
data = data.astype(float)
data.head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

,blue_aatrox,blue_ahri,blue_akali,blue_akshan,blue_alistar,blue_amumu,blue_anivia,blue_annie,blue_aphelios,blue_ashe,...,red_yasuo,red_yone,red_yorick,red_yuumi,red_zac,red_zed,red_ziggs,red_zilean,red_zoe,red_zyra
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
print(len(data.index), len(target))
data.head()
data.sum(axis=1).head()

142684 142684

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.2, random_state=42)
clf = LogisticRegression(random_state=42).fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred_prob = clf.predict_proba(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.5337631846374882

In [52]:
# first neural network with keras tutorial
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

sess = tf.compat.v1.Session(config=tf.compat.v1.ConfigProto(log_device_placement=True))
# define the keras model
model = Sequential()
model.add(Dense(314, input_dim=314, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=10)

Device mapping:
/job:localhost/replica:0/task:0/device:GPU:0 -> device: 0, name: NVIDIA GeForce GTX 1060, pci bus id: 0000:01:00.0, compute capability: 6.1

2021-09-28 14:57:13.995489: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-28 14:57:13.995861: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-28 14:57:13.996168: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-28 14:57:13.996564: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-28 14:57:13.996930: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-28 14:57:13.997263: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 4428 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1060, pci bus id: 0000:01:00.0, compute capability: 6.1

Epoch 1/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.6921 - accuracy: 0.5207
Epoch 2/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.6845 - accuracy: 0.5526
Epoch 3/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.6629 - accuracy: 0.5970
Epoch 4/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.6043 - accuracy: 0.6690
Epoch 5/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.5167 - accuracy: 0.7437
Epoch 6/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.4260 - accuracy: 0.8000
Epoch 7/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.3396 - accuracy: 0.8519
Epoch 8/10
2444/2444 [==============================] - 4s 2ms/step - loss: 0.2626 - accuracy: 0.8907
Epoch 9/10
2444/2444 [==============================] - 5s 2ms/step - loss: 0.1991 - accuracy: 0.9215
Epoch 10/10
2444/2444 [==============================] - 5s 2ms/step - loss: 0.1516 - accuracy: 0.9435

In [53]:
# evaluate the keras model
_, accuracy = model.evaluate(np.asarray(X_test), np.asarray(y_test))
print('Accuracy: %.2f' % (accuracy*100))

611/611 [==============================] - 1s 1ms/step - loss: 1.8047 - accuracy: 0.5144
Accuracy: 51.44